[tool.poetry]
name = "immutabledict"
version = "1.2.0"
description = "Immutable wrapper around dictionaries (a fork of frozendict)"
authors = ["Corentin Garcia <corenting@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/corenting/immutabledict"
keywords = ["immutable", "dictionary"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/corenting/immutabledict/issues"

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
black = {version = "^20.8b1", python = "^3.6"}
pytest = "^6.2"
isort = {version = "^5.5.4", python = "^3.6"}
pytest-cov = "^2.10.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
